<div class="lmb_title"><b>Log In</b></div>

<% form_tag logins_path do %>

    <p>Username</p>
    <p><%= text_field_tag  'username', nil, :maxlength => 15, :size => 20 %></p>
    <p>Password</p>
    <p><%= password_field_tag 'password', nil, :maxlength => 15, :size => 20 %></p>
    <p><%= submit_tag 'Login', :class => 'un_ltt_button' %></p>

<% end %>

