<div class="lmb_title"><b>Summary</b></div>

<br />
<p>Thank you!</p>
<br />

<p>Ref: &nbsp;&nbsp;<%= @rating_session.reference_number %></p>
<p>Date: <%= @rating_session.formatted_date %></p>
<p>Time: <%= @rating_session.formatted_time %></p>
<p>Channel: <%= @rating_session.channel %></p>