<div class="lmb_title"><b>Home Page</b></div>

<% form_tag homes_path do %>

    <% if (@dimensions.size > 0) %>
        <%= select_tag :selected_dimension_id, options_from_collection_for_select(@dimensions, 'id', 'name') %>
        <p><%= submit_tag 'Rate', :class => 'un_ltt_button' %></p>
    <% else %>
        <p>You have already rated all your dimensions for this session</p>
    <% end %>

<% end %>
