<div class="lmb_title"><b>Home Page</b></div>

<% form_tag homes_path do %>

    <% @user.dimensions.each do |dimension| %>
        <p><%= dimension.name %></p>
        <p><% (1..5).each do |number| %> <%= number.to_s %>&nbsp; <%= radio_button_tag "#{dimension.name}_rating", "#{number}", number == 2 %> &nbsp;&nbsp;<%end%></p>
    <% end %>

    <p><%= submit_tag 'Rate', :class => 'un_ltt_button' %></p>

<% end %>
