<div class="lmb_title"><b>Summary</b></div>

<p>Your data has been tracked</p>

<p>Ref: <%= @user_rating.reference_number %></p>
<p>Date: <%= @user_rating.reference_number %></p>
<p>Time: <%= @user_rating.reference_number %></p>
